#recordingControls {
    -fx-padding: 5px;
    -fx-margin: 5px;
    -fx-background-insets: 0,1;
    -fx-padding: 7px;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.75),1,0,1,1);
    -fx-text-fill: black;
    -fx-background-color: rgba(255,255,255,0.75),
        linear-gradient(to bottom,#999999 0%,#666666 100%);
}

#recordingControls > .check-box {       
    -fx-font: 14 "Arial";
    -fx-text-fill: black;
}

#recordingControls > .label {
    -fx-font: 16 "Arial";
    -fx-text-fill: black;
}

#recordingControls > .button {
    -fx-font: 16 "Arial";
    -fx-text-fill: black;
}

.mainGridPane {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.table-view {    
    -fx-background-color: #e5e5e5;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#e5e5e5 0%, white 100%);
}

.table-view .column-header {
    -fx-background-color: linear-gradient(#e5e5e5 0%, white 100%);
    -fx-padding: 2 4 2 4;
}

.table-view .table-cell{
    -fx-text-fill: black;
}

.scene {    
    -fx-background-color: white;
}

.label {
    -fx-font: 16 "Arial";
    -fx-text-fill: black;
}

#label-small-font {    
    -fx-font: 14 "Arial";
    -fx-text-fill: black;
}

.chart-legend-item{
    -fx-text-fill: black;
}

.chart-title {
    -fx-text-fill: black;
    -fx-font-size: 20;
}

.axis {
    -fx-font-size: 10;
    -fx-tick-label-fill: black;
    -fx-tick-label-font-size: 11;
}

.tab-pane .tab {
    -fx-background-color: #e8e8e8;
}

.tab-pane .tab:selected {
    -fx-background-color: white;
}

.tab-pane *.tab-header-background {
    -fx-background-color: -fx-outer-border, -fx-inner-border, derive(-fx-color, -10%);
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
}

.tab .tab-label {
    -fx-text-fill: black;
    -fx-alignment: CENTER;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.real-time-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: #c2c2c2;
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
}

.real-time-tab:selected {
    -fx-background-color: red;
}

#table-list .button {
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-radius: 3px;
    -fx-padding: 5px;
    -fx-margin: 5px;
}

#table-list .button:hover {
    -fx-background-color: #cccccc;
    -fx-text-fill: black;
}

#table-list .list-cell:filled:selected {
    -fx-background-color: #6666ff;
    -fx-text-fill: black;
}

#table-list .list-cell {
    -fx-text-fill: black;
}

#table-list .list-cell:even {
    -fx-background-color: #cccccc;
}

#table-list .list-cell:odd {    
    -fx-background-color: white;
}

#table-list .list-cell:filled:hover {
    -fx-background-color: #1e22de;
    -fx-text-fill: black;
}

.menu-bar {
    -fx-background-color:
        linear-gradient(to bottom,#dddddd 0%,#ffffff 100%);
} 

.menu, .menu-item, .context-menu {
    -fx-background-color: #dddddd;
    -fx-text-fill: black;
    -fx-background-radius: 2 2 2 2;
    -fx-padding: 0.5em 1em 0.5em 1em; 
}

.context-menu {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em; 
}

.menu-item:hover, .menu:hover {
    -fx-background-color: white;
}

.checkbox {    
    -fx-font: 14 "Arial";
    -fx-text-fill: black;
}

.editChartGrid {
    -fx-background-color: white;
}

.table-view .table-cell {
    -fx-font: 16 "Arial";
}

.table-row-cell{
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.default-color0.chart-series-line { -fx-stroke: #997300; }
.default-color1.chart-series-line { -fx-stroke: #990000; }
.default-color2.chart-series-line { -fx-stroke: #002699; }
.default-color3.chart-series-line { -fx-stroke: #800080; }
.default-color4.chart-series-line { -fx-stroke: #669900; }
.default-color5.chart-series-line { -fx-stroke: #aa6600; }
.default-color6.chart-series-line { -fx-stroke: #cc6600; }
.default-color8.chart-series-line { -fx-stroke: #ee6600; }

.default-color0.chart-line-symbol { -fx-background-color: #997300, #434343; }
.default-color1.chart-line-symbol { -fx-background-color: #990000, #434343; }
.default-color2.chart-line-symbol { -fx-background-color: #002699, #434343; }
.default-color3.chart-line-symbol { -fx-background-color: #800080, #434343; }
.default-color4.chart-line-symbol { -fx-background-color: #669900, #434343; }
.default-color5.chart-line-symbol { -fx-background-color: #aa6600, #434343; }
.default-color6.chart-line-symbol { -fx-background-color: #cc6600, #434343; }
.default-color7.chart-line-symbol { -fx-background-color: #ee6600, #434343; }