#recordingControls {
    -fx-padding: 5px;
    -fx-margin: 5px;
    -fx-background-insets: 0,1;
    -fx-padding: 7px;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.75),1,0,1,1);
    -fx-text-fill: black;
    -fx-background-color: rgba(255,255,255,0.75),
        linear-gradient(to bottom,#999999 0%,#666666 100%);
}

#recordingControls > .check-box {       
    -fx-font: 14 "Arial";
    -fx-text-fill: black;
}

#recordingControls > .label {
    -fx-font: 16 "Arial";
    -fx-text-fill: black;
}

#recordingControls > .button {
    -fx-font: 16 "Arial";
    -fx-text-fill: black;
}

.progressDialog {    
    -fx-background-color: white;
    -fx-padding: 10;    
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.progressDialog > .label {
    -fx-font: 16 "Arial";
    -fx-text-fill: black;
}

.mainGridPane {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.table-view {    
    -fx-background-color: #e5e5e5;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#e5e5e5 0%, white 100%);
}

.table-view .column-header {
    -fx-background-color: linear-gradient(#e5e5e5 0%, white 100%);
    -fx-padding: 2 4 2 4;
}

.table-view .table-cell{
    -fx-text-fill: black;
}

.scene {    
    -fx-background-color: white;
}

.label {
    -fx-font: 16 "Arial";
    -fx-text-fill: black;
}

#label-small-font {    
    -fx-font: 14 "Arial";
    -fx-text-fill: black;
}

.chart-legend-item{
    -fx-text-fill: black;
}

.chart-title {
    -fx-text-fill: black;
    -fx-font-size: 20;
}

.axis {
    -fx-font-size: 10;
    -fx-tick-label-fill: black;
    -fx-tick-label-font-size: 11;
}

.tab-pane .tab {
    -fx-background-color: #e8e8e8;
}

.tab-pane .tab:selected {
    -fx-background-color: white;
}

.tab-pane *.tab-header-background {
    -fx-background-color: -fx-outer-border, -fx-inner-border, derive(-fx-color, -10%);
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
}

.tab .tab-label {
    -fx-text-fill: black;
    -fx-alignment: CENTER;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.real-time-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: #c2c2c2;
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
}

.real-time-tab:selected {
    -fx-background-color: red;
}

#table-list .button {
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-radius: 3px;
    -fx-padding: 5px;
    -fx-margin: 5px;
}

#table-list .button:hover {
    -fx-background-color: #cccccc;
    -fx-text-fill: black;
}

#table-list .list-cell:filled:selected {
    -fx-background-color: #6666ff;
    -fx-text-fill: black;
}

#table-list .list-cell {
    -fx-text-fill: black;
}

#table-list .list-cell:even {
    -fx-background-color: #cccccc;
}

#table-list .list-cell:odd {    
    -fx-background-color: white;
}

#table-list .list-cell:filled:hover {
    -fx-background-color: #1e22de;
    -fx-text-fill: black;
}

.menu-bar {
    -fx-background-color:
        linear-gradient(to bottom,#dddddd 0%,#ffffff 100%);
} 

.menu, .menu-item, .context-menu {
    -fx-background-color: #dddddd;
    -fx-text-fill: black;
    -fx-background-radius: 2 2 2 2;
    -fx-padding: 0.25em 0.5em 0.25em 0.5em; 
}

.context-menu {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em; 
}

.menu-item:hover, .menu:hover {
    -fx-background-color: white;
}

.checkbox {    
    -fx-font: 14 "Arial";
    -fx-text-fill: black;
}

.editChartGrid {
    -fx-background-color: white;
}

.table-view .table-cell {
    -fx-font: 16 "Arial";
}

.table-row-cell{
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.default-color0.chart-line-symbol { -fx-background-color: #f9d900, rgba(255, 255, 255, .9); }
.default-color1.chart-line-symbol { -fx-background-color: #a9e200, rgba(255, 255, 255, .9); }
.default-color2.chart-line-symbol { -fx-background-color: #22bad9, rgba(255, 255, 255, .9); }
.default-color3.chart-line-symbol { -fx-background-color: #0181e2, rgba(255, 255, 255, .9); }
.default-color4.chart-line-symbol { -fx-background-color: #2f357f, rgba(255, 255, 255, .9); }
.default-color5.chart-line-symbol { -fx-background-color: #860061, rgba(255, 255, 255, .9); }
.default-color6.chart-line-symbol { -fx-background-color: #c62b00, rgba(255, 255, 255, .9); }
.default-color7.chart-line-symbol { -fx-background-color: #ff5700, rgba(255, 255, 255, .9); }
.default-color0.chart-series-line { -fx-stroke: #f9d900; }
.default-color1.chart-series-line { -fx-stroke: #a9e200; }
.default-color2.chart-series-line { -fx-stroke: #22bad9; }
.default-color3.chart-series-line { -fx-stroke: #0181e2; }
.default-color4.chart-series-line { -fx-stroke: #2f357f; }
.default-color5.chart-series-line { -fx-stroke: #860061; }
.default-color6.chart-series-line { -fx-stroke: #c62b00; }
.default-color7.chart-series-line { -fx-stroke: #ff5700; }